.time {
    background-color: #c5dcff;
    margin-top: 10px;
    margin-right: 20px;
    padding: 0 20px;
    box-sizing: border-box;
    text-align: center;
    font-size: 20px;
    line-height: 36px;
    border-radius: 10px;
    cursor: pointer;
}

#choosen {
    background-color: #6ba6ff;
}
